html {
    position: relative;
    min-height: 100%
}

body {
    margin-bottom: 80px
}

#SiteNavigation {
    margin-bottom: .5rem
}

.navbar {
    font-size: 1.25rem
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 2rem
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap
}

.MobileA_Dev {
    background-image: url(https://mobilea.blob.core.windows.net/backgrounds/MobileA_Dev.png)
}

.MobileA_QA {
    background-image: url(https://mobilea.blob.core.windows.net/backgrounds/MobileA_QA.png)
}

.MobileA_UAT {
    background-image: url(https://mobilea.blob.core.windows.net/backgrounds/MobileA_UAT.png)
}

label.is-invalid {
    color: #cd0200
}