.jumbotron {
    height: 325px;
    background-size: cover
  }

#MedicalHistory button:hover {
  font-weight: bold;
  cursor: pointer;
  color: #3399f3;
}  

#MedicalHistory select:hover, textarea:hover, input:hover{
  border-color: #3399f3;
} 

.header {
    position: fixed;
    top: 10;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
.header h2 {
  text-align: center;
  padding: 5px;
}

.progress-container {
  width: 95%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}

.content {
  padding: 100px 0;
  margin: 50px auto 0 auto;
  width: 80%;
}

#Loading {
  position: fixed;
  top: 30%;
  left: 40%;
}

.MobileA_Dev {
  background-image: url(https://mobilea.blob.core.windows.net/backgrounds/MobileA_Dev.png)
}

.MobileA_QA {
  background-image: url(https://mobilea.blob.core.windows.net/backgrounds/MobileA_QA.png)
}

.MobileA_UAT {
  background-image: url(https://mobilea.blob.core.windows.net/backgrounds/MobileA_UAT.png)
}

.navbar {
  font-size: 1.25rem
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 2rem
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap
}

